* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.4em;
}

:host(:hover) #controls {
  display: inline-block;
}

#vsc-progress-line-full,
#vsc-progress-line-live {
  border-radius: 10px;
  height: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#vsc-progress-line-full {
  background-color: white;
  width: 100%;
}
#vsc-progress-line-live {
  background-color: red;
}

#vsc-progress-container {
  /* top: calc(var(--top) + 8px + 1.4em); */
  align-items: center;
  background: black;
  border-radius: 6px;
  box-shadow: #00ffffa3 0 0 5px 3px;
  color: white;
  cursor: default;
  display: none;
  gap: 10px;
  left: var(--left);
  margin: 10px 10px 10px 15px;
  opacity: var(--opacity);
  padding-inline: 5px;
  position: absolute;
  white-space: nowrap;
  width: 200px;
  z-index: 9999999;
}

#vsc-progress-lines {
  flex: 1;
  position: relative;
}

#controller {
  background: black;
  border-radius: 6px;
  color: white;
  cursor: default;
  left: var(--left);
  margin: 10px 10px 10px 15px;
  opacity: var(--opacity);
  padding: 4px;
  position: absolute;
  top: var(--top);
  white-space: nowrap;
  z-index: 9999999;
}

#controller:hover {
  opacity: 0.7;
}

#controller:hover > .draggable {
  margin-right: 0.8em;
}

#controls {
  display: none;
  vertical-align: middle;
}

#controller.dragging {
  cursor: -webkit-grabbing;
  opacity: 0.7;
}

#controller.dragging #controls {
  display: inline-block;
}

#vsc-progress-container.draggable,
.draggable {
  cursor: -webkit-grab;
  text-align: center;
  vertical-align: middle;
}

.draggable:active {
  cursor: -webkit-grabbing;
}

button {
  background: white;
  border-radius: 5px;
  border: 0px solid white;
  color: black;
  cursor: pointer;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  margin: 0px 2px 2px 2px;
  opacity: 1;
  padding: 1px 5px 3px 5px;
  transition:
    background 0.2s,
    color 0.2s;
}

button:focus {
  outline: 0;
}

button:hover {
  background: #2196f3;
  color: #ffffff;
  opacity: 1;
}

button:active {
  background: #2196f3;
  color: #ffffff;
  font-weight: bold;
}

button.rw {
  opacity: 0.65;
}

button.hideButton {
  margin-left: 8px;
  margin-right: 2px;
  opacity: 0.65;
}
